.img {
  background-repeat: no-repeat;
  background-size: contain;
  width: 4em;
  height: 100%;
}

.ad {
  background-image: url("./png/ad.png");
}
.ae {
  background-image: url("./png/ae.png");
}
.af {
  background-image: url("./png/af.png");
}
.ag {
  background-image: url("./png/ag.png");
}
.ai {
  background-image: url("./png/ai.png");
}
.al {
  background-image: url("./png/al.png");
}
.am {
  background-image: url("./png/am.png");
}
.ao {
  background-image: url("./png/ao.png");
}
.aq {
  background-image: url("./png/aq.png");
}
.ar {
  background-image: url("./png/ar.png");
}
.as {
  background-image: url("./png/as.png");
}
.at {
  background-image: url("./png/at.png");
}
.au {
  background-image: url("./png/au.png");
}
.aw {
  background-image: url("./png/aw.png");
}
.ax {
  background-image: url("./png/ax.png");
}
.az {
  background-image: url("./png/az.png");
}
.ba {
  background-image: url("./png/ba.png");
}
.bb {
  background-image: url("./png/bb.png");
}
.bd {
  background-image: url("./png/bd.png");
}
.be {
  background-image: url("./png/be.png");
}
.bf {
  background-image: url("./png/bf.png");
}
.bg {
  background-image: url("./png/bg.png");
}
.bh {
  background-image: url("./png/bh.png");
}
.bi {
  background-image: url("./png/bi.png");
}
.bj {
  background-image: url("./png/bj.png");
}
.bl {
  background-image: url("./png/bl.png");
}
.bm {
  background-image: url("./png/bm.png");
}
.bn {
  background-image: url("./png/bn.png");
}
.bo {
  background-image: url("./png/bo.png");
}
.bq {
  background-image: url("./png/bq.png");
}
.br {
  background-image: url("./png/br.png");
}
.bs {
  background-image: url("./png/bs.png");
}
.bt {
  background-image: url("./png/bt.png");
}
.bv {
  background-image: url("./png/bv.png");
}
.bw {
  background-image: url("./png/bw.png");
}
.by {
  background-image: url("./png/by.png");
}
.bz {
  background-image: url("./png/bz.png");
}
.ca {
  background-image: url("./png/ca.png");
}
.cc {
  background-image: url("./png/cc.png");
}
.cd {
  background-image: url("./png/cd.png");
}
.cf {
  background-image: url("./png/cf.png");
}
.cg {
  background-image: url("./png/cg.png");
}
.ch {
  background-image: url("./png/ch.png");
}
.ci {
  background-image: url("./png/ci.png");
}
.ck {
  background-image: url("./png/ck.png");
}
.cl {
  background-image: url("./png/cl.png");
}
.cm {
  background-image: url("./png/cm.png");
}
.cn {
  background-image: url("./png/cn.png");
}
.co {
  background-image: url("./png/co.png");
}
.cr {
  background-image: url("./png/cr.png");
}
.cu {
  background-image: url("./png/cu.png");
}
.cv {
  background-image: url("./png/cv.png");
}
.cw {
  background-image: url("./png/cw.png");
}
.cx {
  background-image: url("./png/cx.png");
}
.cy {
  background-image: url("./png/cy.png");
}
.cz {
  background-image: url("./png/cz.png");
}
.de {
  background-image: url("./png/de.png");
}
.dj {
  background-image: url("./png/dj.png");
}
.dk {
  background-image: url("./png/dk.png");
}
.dm {
  background-image: url("./png/dm.png");
}
.do {
  background-image: url("./png/do.png");
}
.dz {
  background-image: url("./png/dz.png");
}
.ec {
  background-image: url("./png/ec.png");
}
.ee {
  background-image: url("./png/ee.png");
}
.eg {
  background-image: url("./png/eg.png");
}
.eh {
  background-image: url("./png/eh.png");
}
.er {
  background-image: url("./png/er.png");
}
.es {
  background-image: url("./png/es.png");
}
.et {
  background-image: url("./png/et.png");
}
.eu {
  background-image: url("./png/eu.png");
}
.fi {
  background-image: url("./png/fi.png");
}
.fj {
  background-image: url("./png/fj.png");
}
.fk {
  background-image: url("./png/fk.png");
}
.fm {
  background-image: url("./png/fm.png");
}
.fo {
  background-image: url("./png/fo.png");
}
.fr {
  background-image: url("./png/fr.png");
}
.ga {
  background-image: url("./png/ga.png");
}
.gb-eng {
  background-image: url("./png/gb-eng.png");
}
.gb-nir {
  background-image: url("./png/gb-nir.png");
}
.gb-sct {
  background-image: url("./png/gb-sct.png");
}
.gb-wls {
  background-image: url("./png/gb-wls.png");
}
.gb {
  background-image: url("./png/gb.png");
}
.gd {
  background-image: url("./png/gd.png");
}
.ge {
  background-image: url("./png/ge.png");
}
.gf {
  background-image: url("./png/gf.png");
}
.gg {
  background-image: url("./png/gg.png");
}
.gh {
  background-image: url("./png/gh.png");
}
.gi {
  background-image: url("./png/gi.png");
}
.gl {
  background-image: url("./png/gl.png");
}
.gm {
  background-image: url("./png/gm.png");
}
.gn {
  background-image: url("./png/gn.png");
}
.gp {
  background-image: url("./png/gp.png");
}
.gq {
  background-image: url("./png/gq.png");
}
.gr {
  background-image: url("./png/gr.png");
}
.gs {
  background-image: url("./png/gs.png");
}
.gt {
  background-image: url("./png/gt.png");
}
.gu {
  background-image: url("./png/gu.png");
}
.gw {
  background-image: url("./png/gw.png");
}
.gy {
  background-image: url("./png/gy.png");
}
.hk {
  background-image: url("./png/hk.png");
}
.hm {
  background-image: url("./png/hm.png");
}
.hn {
  background-image: url("./png/hn.png");
}
.hr {
  background-image: url("./png/hr.png");
}
.ht {
  background-image: url("./png/ht.png");
}
.hu {
  background-image: url("./png/hu.png");
}
.id {
  background-image: url("./png/id.png");
}
.ie {
  background-image: url("./png/ie.png");
}
.il {
  background-image: url("./png/il.png");
}
.im {
  background-image: url("./png/im.png");
}
.in {
  background-image: url("./png/in.png");
}
.io {
  background-image: url("./png/io.png");
}
.iq {
  background-image: url("./png/iq.png");
}
.ir {
  background-image: url("./png/ir.png");
}
.is {
  background-image: url("./png/is.png");
}
.it {
  background-image: url("./png/it.png");
}
.je {
  background-image: url("./png/je.png");
}
.jm {
  background-image: url("./png/jm.png");
}
.jo {
  background-image: url("./png/jo.png");
}
.jp {
  background-image: url("./png/jp.png");
}
.ke {
  background-image: url("./png/ke.png");
}
.kg {
  background-image: url("./png/kg.png");
}
.kh {
  background-image: url("./png/kh.png");
}
.ki {
  background-image: url("./png/ki.png");
}
.km {
  background-image: url("./png/km.png");
}
.kn {
  background-image: url("./png/kn.png");
}
.kp {
  background-image: url("./png/kp.png");
}
.kr {
  background-image: url("./png/kr.png");
}
.kw {
  background-image: url("./png/kw.png");
}
.ky {
  background-image: url("./png/ky.png");
}
.kz {
  background-image: url("./png/kz.png");
}
.la {
  background-image: url("./png/la.png");
}
.lb {
  background-image: url("./png/lb.png");
}
.lc {
  background-image: url("./png/lc.png");
}
.li {
  background-image: url("./png/li.png");
}
.lk {
  background-image: url("./png/lk.png");
}
.lr {
  background-image: url("./png/lr.png");
}
.ls {
  background-image: url("./png/ls.png");
}
.lt {
  background-image: url("./png/lt.png");
}
.lu {
  background-image: url("./png/lu.png");
}
.lv {
  background-image: url("./png/lv.png");
}
.ly {
  background-image: url("./png/ly.png");
}
.ma {
  background-image: url("./png/ma.png");
}
.mc {
  background-image: url("./png/mc.png");
}
.md {
  background-image: url("./png/md.png");
}
.me {
  background-image: url("./png/me.png");
}
.mf {
  background-image: url("./png/mf.png");
}
.mg {
  background-image: url("./png/mg.png");
}
.mh {
  background-image: url("./png/mh.png");
}
.mk {
  background-image: url("./png/mk.png");
}
.ml {
  background-image: url("./png/ml.png");
}
.mm {
  background-image: url("./png/mm.png");
}
.mn {
  background-image: url("./png/mn.png");
}
.mo {
  background-image: url("./png/mo.png");
}
.mp {
  background-image: url("./png/mp.png");
}
.mq {
  background-image: url("./png/mq.png");
}
.mr {
  background-image: url("./png/mr.png");
}
.ms {
  background-image: url("./png/ms.png");
}
.mt {
  background-image: url("./png/mt.png");
}
.mu {
  background-image: url("./png/mu.png");
}
.mv {
  background-image: url("./png/mv.png");
}
.mw {
  background-image: url("./png/mw.png");
}
.mx {
  background-image: url("./png/mx.png");
}
.my {
  background-image: url("./png/my.png");
}
.mz {
  background-image: url("./png/mz.png");
}
.na {
  background-image: url("./png/na.png");
}
.nc {
  background-image: url("./png/nc.png");
}
.ne {
  background-image: url("./png/ne.png");
}
.nf {
  background-image: url("./png/nf.png");
}
.ng {
  background-image: url("./png/ng.png");
}
.ni {
  background-image: url("./png/ni.png");
}
.nl {
  background-image: url("./png/nl.png");
}
.no {
  background-image: url("./png/no.png");
}
.np {
  background-image: url("./png/np.png");
}
.nr {
  background-image: url("./png/nr.png");
}
.nu {
  background-image: url("./png/nu.png");
}
.nz {
  background-image: url("./png/nz.png");
}
.om {
  background-image: url("./png/om.png");
}
.pa {
  background-image: url("./png/pa.png");
}
.pe {
  background-image: url("./png/pe.png");
}
.pf {
  background-image: url("./png/pf.png");
}
.pg {
  background-image: url("./png/pg.png");
}
.ph {
  background-image: url("./png/ph.png");
}
.pk {
  background-image: url("./png/pk.png");
}
.pl {
  background-image: url("./png/pl.png");
}
.pm {
  background-image: url("./png/pm.png");
}
.pn {
  background-image: url("./png/pn.png");
}
.pr {
  background-image: url("./png/pr.png");
}
.ps {
  background-image: url("./png/ps.png");
}
.pt {
  background-image: url("./png/pt.png");
}
.pw {
  background-image: url("./png/pw.png");
}
.py {
  background-image: url("./png/py.png");
}
.qa {
  background-image: url("./png/qa.png");
}
.re {
  background-image: url("./png/re.png");
}
.ro {
  background-image: url("./png/ro.png");
}
.rs {
  background-image: url("./png/rs.png");
}
.ru {
  background-image: url("./png/ru.png");
}
.rw {
  background-image: url("./png/rw.png");
}
.sa {
  background-image: url("./png/sa.png");
}
.sb {
  background-image: url("./png/sb.png");
}
.sc {
  background-image: url("./png/sc.png");
}
.sd {
  background-image: url("./png/sd.png");
}
.se {
  background-image: url("./png/se.png");
}
.sg {
  background-image: url("./png/sg.png");
}
.sh {
  background-image: url("./png/sh.png");
}
.si {
  background-image: url("./png/si.png");
}
.sj {
  background-image: url("./png/sj.png");
}
.sk {
  background-image: url("./png/sk.png");
}
.sl {
  background-image: url("./png/sl.png");
}
.sm {
  background-image: url("./png/sm.png");
}
.sn {
  background-image: url("./png/sn.png");
}
.so {
  background-image: url("./png/so.png");
}
.sr {
  background-image: url("./png/sr.png");
}
.ss {
  background-image: url("./png/ss.png");
}
.st {
  background-image: url("./png/st.png");
}
.sv {
  background-image: url("./png/sv.png");
}
.sx {
  background-image: url("./png/sx.png");
}
.sy {
  background-image: url("./png/sy.png");
}
.sz {
  background-image: url("./png/sz.png");
}
.tc {
  background-image: url("./png/tc.png");
}
.td {
  background-image: url("./png/td.png");
}
.tf {
  background-image: url("./png/tf.png");
}
.tg {
  background-image: url("./png/tg.png");
}
.th {
  background-image: url("./png/th.png");
}
.tj {
  background-image: url("./png/tj.png");
}
.tk {
  background-image: url("./png/tk.png");
}
.tl {
  background-image: url("./png/tl.png");
}
.tm {
  background-image: url("./png/tm.png");
}
.tn {
  background-image: url("./png/tn.png");
}
.to {
  background-image: url("./png/to.png");
}
.tr {
  background-image: url("./png/tr.png");
}
.tt {
  background-image: url("./png/tt.png");
}
.tv {
  background-image: url("./png/tv.png");
}
.tw {
  background-image: url("./png/tw.png");
}
.tz {
  background-image: url("./png/tz.png");
}
.ua {
  background-image: url("./png/ua.png");
}
.ug {
  background-image: url("./png/ug.png");
}
.um {
  background-image: url("./png/um.png");
}
.us {
  background-image: url("./png/us.png");
}
.uy {
  background-image: url("./png/uy.png");
}
.uz {
  background-image: url("./png/uz.png");
}
.va {
  background-image: url("./png/va.png");
}
.vc {
  background-image: url("./png/vc.png");
}
.ve {
  background-image: url("./png/ve.png");
}
.vg {
  background-image: url("./png/vg.png");
}
.vi {
  background-image: url("./png/vi.png");
}
.vn {
  background-image: url("./png/vn.png");
}
.vu {
  background-image: url("./png/vu.png");
}
.wf {
  background-image: url("./png/wf.png");
}
.ws {
  background-image: url("./png/ws.png");
}
.xk {
  background-image: url("./png/xk.png");
}
.ye {
  background-image: url("./png/ye.png");
}
.yt {
  background-image: url("./png/yt.png");
}
.za {
  background-image: url("./png/za.png");
}
.zm {
  background-image: url("./png/zm.png");
}
.zw {
  background-image: url("./png/zm.png");
}
